[DEFAULT]
snap_type = BTRFS

source = /
dest_prefix = {{ joinPath .snapshotRoot "@root-" }}

keep_user = 1

keep_preinstall = 1
preinstall_interval = 5 minutes

trigger_interval = 1 hour

enable_scheduled_ttl = True
min_keep_secs = 1800
keep_hourly = 0
keep_daily = 3
keep_weekly = 0
keep_monthly = 0
keep_yearly = 0

post_transaction_scripts = '/etc/yabsnap/post/update-loaderentries'
